#menu {
  padding: 50px 0;
  background-color: #95b9c9;
  min-height: 71.9vh;
  center {
    h1 {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 10%;
      color: #33332d;
    }
  }
}
